body {
    background-image: url('/image/mantu-background.jpg');
    background-size: cover;
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center -50px;
}

.password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;
}

.toggle-password img {
    width: 20px;
    height: 20px;
}

.register-link {
    margin-top: 1rem;
    font-size: 14px;
    color: #333;
}

.register-link a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.register-link a:hover {
    text-decoration: underline;
}


/* Home footer style */
.app-footer {
    border-top: 1px solid #fff; /* white border */
    height: 60px;               /* adjust to match header height */
    background: transparent;    /* or white if you prefer */
  }
  
  body.home-page .app-footer {
    display: block;
  }