<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/register.css}"/>
</head>
<header class="register-header">
    <a th:href="@{/login}" class="back-btn" title="Back to login">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" role="img"
             aria-label="Flèche arrière violette">
            <circle cx="15" cy="15" r="13" fill="none" stroke="#662179" stroke-width="2"/>
            <path d="M17 9 L11 15 L17 21" fill="none" stroke="#662179" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"/>
            <line x1="11" y1="15" x2="22" y2="15" stroke="#662179" stroke-width="2" stroke-linecap="round"/>
        </svg>
    </a>
</header>
<body>
<div class="register-container">
    <div class="register-box">
        <img src="/image/mantu-logo.jpg" alt="Logo" class="mantu-logo">
        <h2>Create an Account</h2>
        <form th:action="@{/register}" method="post">
            <div class="form-register">
                <input type="text" name="username" placeholder="Username" required/>
            </div>
            <div class="form-register">
                <input type="text" name="firstname" placeholder="Firstname" required/>
            </div>
            <div class="form-register">
                <input type="text" name="lastname" placeholder="Lastname" required/>
            </div>
            <div class="form-register">
                <input type="password" name="password" placeholder="Password" required/>
            </div>
            <div class="form-register">
                <input type="email" name="email" placeholder="E-mail" required/>
            </div>
            <div class="form-register">
                <input type="hidden" name="role" value="USER"/>
            </div>
            <div class="form-register"></div>
            <div class="form-button">
                <button type="submit" class="submit-btn">Register</button>
            </div>
        </form>
    </div>
    <div class="error-message" th:if="${error}">
        <p th:text="${error}"></p>
    </div>
</div>
</body>
</html>
